[Unit]
# このサービスの説明
Description=Standalone Clojure nREPL Server for Calva

[Service]
# Clojure nREPLの起動コマンド
# Calva拡張機能は以下を利用している(バージョンは執筆時点の最新)
# nrepl/nrepl, cider/cider-nrepl, org.clojure/tools.namespace
# portは7888に設定している(任意)
ExecStart=/home/linuxbrew/.linuxbrew/bin/clj \
  -Sdeps '{:deps { \
  nrepl/nrepl {:mvn/version "1.3.1"} \
  cider/cider-nrepl {:mvn/version "0.55.7"} \
  org.clojure/tools.namespace {:mvn/version "1.5.0"} \
  org.clojure/data.csv {:mvn/version "1.1.0"} \
  semantic-csv/semantic-csv {:mvn/version "0.2.1-alpha1"} \
  philoskim/debux {:mvn/version "0.9.1"} \
  org.clojure/math.numeric-tower {:mvn/version "0.1.0"} \
  }}' \
  -M -m nrepl.cmdline \
  --middleware "[cider.nrepl/cider-middleware]" \
  --port 7888 \
  --bind "127.0.0.1"

# REPL操作中にプロセスを終了してしまっても100ms後に再起動する
Restart=always
RestartSec=100ms

[Install]
WantedBy=default.target
