[Unit]
Description=Standalone Clojure nREPL Server for Calva

[Service]
WorkingDirectory=/home/chaploud/.config/systemd/user/nrepl
ExecStart=/home/linuxbrew/.linuxbrew/bin/clj -M:nrepl
Restart=always
RestartSec=100ms

[Install]
WantedBy=default.target
