auto-save-list/
eln-cache/
elpa/
forge-database.sqlite
history
persp-confs/
projects
recentf
tramp
transient/
tree-sitter/
request/
undo-fu-session
package-quickstart.el
package-quickstart.elc
eshell/
backups/
auto-saves/
.cache/
.#*